*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.fullCenter{
    display:flex;
    align-items: center;
    justify-content: center;
}

body {
    min-height: 100vh;
}
div:first-child {
    height: 10rem;
    width: 10rem;
    background-color:aqua;
}

.mainDiv:hover{
    cursor: pointer;
    background-color: brown;
}

.modal{
    background-color: yellowgreen;
    height: 30rem;
    width: 30rem;
    position: absolute;
}
.hidden{
    display: none;
}
